Your Workout:

<br></br>
<p><%= @workout_entry.exercise %></p>

<p><%= @workout_entry.reps %></p>

<p><%= @workout_entry.formatted_created_at %></p>

<% if authorized_to_edit?(@workout_entry) %>
  <a href="/workout_entries/<%= @workout_entry.id %>/edit">Edit Entry</a>
  <br><br>
  <form class="" action="/workout_entries/<%= @workout_entry.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Entry">
  </form>
<% end %>
